/*Hero Component*/

.hero {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: #040404;
  padding: 1rem 0rem;
  border-bottom: 2px outset #838282;
}

.glow {
  font-family: "Tilt Neon";
  font-size: 3.5em;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.hero img {
  height: 8rem;
}

/*App main component*/
main {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/background.jpg");
}

/*Movie Component*/
.movie-card {
  flex: 25%;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 5px 5px 5px 0px rgba(2, 2, 2, 0.75);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.movie-card a {
  margin-right: 2rem;
  color: rgb(249, 135, 192);
}

.movie-details {
  font-size: small;
}

.movie-title,
.movie-year {
  font-family: "Tilt Neon";
  text-align: center;
}

.movie-link {
  color: #ebf2fa;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Tilt Neon";
  font-size: 1.25rem;
}

/*Review Component*/
.reviews-modal .modal-content {
  background-color: #6c757d;
  color: white;
  font-family: "Tilt Neon";
}

.the-modal {
  display: flex;
  justify-content: center;
}
.review-form {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.review-form input {
  margin-bottom: 1em;
  width: 50%;
}

.form-button {
  margin-top: 1em;
  border-radius: 5px;
  background-color: rgb(249, 135, 192);
  box-shadow: 2px 2px 2px 0px rgba(2, 2, 2, 0.75);
  width: 100%;
}

.review-items {
  margin: 1em;
  width: 100%;
}

/*Stars*/
.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  transition: color 200ms;
}

/*Responsive elements*/
@media (max-width: 1000px) {
  .movie-card {
    flex: 40%;
  }
  .hero {
    padding: 20px;
  }
  .hero img {
    max-width: 30%;
  }
}
@media (max-width: 700px) {
  .movie-card {
    flex: 100%;
  }
  .hero {
    padding: 20px;
  }
  .hero img {
    max-width: 25%;
  }
  .glow {
    font-size: 2em;
  }
}
